- name: copy mongodb repo
  ansible.builtin.copy: #Search ansible copy module in google to find the modules
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: Install mongodb server
  ansible.builtin.dnf: #Ansible package module or dnf
    name: mongodb-org
    state: present

- name: start and enable mongodb
  ansible.builtin.service: #Ansible service module 
    name: mongod
    state: started #To start the mongod
    enabled: yes #To enable the mongod

- name: allow remote connections
  ansible.builtin.replace: #Ansible replace module
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: restart mongodb
  ansible.builtin.service: 
    name: mongod
    state: restarted